.co-je-to-koucink {
  padding: 56px 16px 0;
}

.co-je-to-koucink {
  background: linear-gradient(180deg, #ffffff 0%, #e1f8f8 47.4%, #ffffff 100%);
  margin: auto 0;
  padding: 0 24px;
}

.co-je-to-koucink h3 {
  margin: 16px auto 0;
  line-height: 125%;
}

.co-je-to-koucink .arrow-icon {
  margin: 16px 0;
}

/* arrow for co je to koucink section - for desktop only*/
.side-arrow {
  display: none;
}

@media (min-width: 500px) {
  .co-je-to-koucink {
    background-image: none;
  }
}

@media (min-width: 800px) {
  .co-je-to-koucink .side-arrow {
    display: inline;
  }
  .co-je-to-koucink .down-arrow {
    display: none;
  }
  .co-je-to-koucink .mobile-body {
    padding: 0 24px;
  }
}
