.jak-koucink-probiha {
  padding-top: 56px;
}

.jak-koucink-probiha__carousel-heading {
  color: var(--primary-default);
  padding-right: 10%;
  font-size: 1.625rem;
  line-height: 115%;
}
.jak-koucink-probiha__carousel-text {
  color: var(--secondary-default);
  font-size: 0.9375rem;
  line-height: 133%;
}

.jak-koucink-probiha .owl-stage {
  padding-bottom: 20px;
}

.jak-koucink-probiha .item {
  box-shadow: rgba(0, 128, 128, 0.1) 0 4px 16px;
}

.jak-koucink-probiha .item-1 {
  background-image: url(./img/01.svg);
}
.jak-koucink-probiha .item-2 {
  background-image: url(./img/02.svg);
}
.jak-koucink-probiha .item-3 {
  background-image: url(./img/03.svg);
}
.jak-koucink-probiha .item-4 {
  background-image: url(./img/04.svg);
}

.jak-koucink-probiha :is(.item-1, .item-2, .item-3, .item-4) {
  background-repeat: no-repeat;
}

@media (min-width: 1280px) {
  .jak-koucink-probiha .owl-stage {
    padding: 0 40px 20px !important;
    width: 90% !important;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .jak-koucink-probiha .item-1,
  .jak-koucink-probiha .item-2,
  .jak-koucink-probiha .item-3 {
    margin-right: 24px !important;
  }
}

@media (min-width: 1680px) {
  .jak-koucink-probiha .owl-stage {
    width: 80% !important;
  }
}
