/* The Modal (background) */
.modal-box {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 75%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* MODAL */

.modal__screen-lock {
  overflow: hidden !important;
  height: 100% !important;
  width: 100% !important;
  touch-action: none !important;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
  background-color: rgba(208, 208, 208, 0.65);
  backdrop-filter: blur(4px);
  z-index: 102;
}

.modal__container {
  max-width: 768px;
  position: relative;
  width: 100%;
  box-shadow: 0px -6px 20px rgb(0 0 0 / 20%);
  border-radius: 12px 12px 0px 0px;
  background-color: #fff;
}

.modal__close-section {
  margin: 8px 0;
  margin-bottom: 16px;
}

.modal__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  width: 18px !important;
  height: 18px !important;
  fill: #008080;
}

.modal__body {
  max-height: calc((80vh - 90px) - 20px);
  padding: 0 20px 20px;
  padding-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .modal__body {
    min-height: 40vh;
  }
}

@keyframes scrollUp {
  from {
    transform: translate(0, 150%);
  }

  to {
    transform: translate(0, 0);
  }
}

@media (min-width: 768px) {
  .modal__backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* modal animations */
@keyframes scrollDown {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, 150%);
  }
}

@media (max-width: 768px) {
  .fade-enter-active {
    transition: opacity 0.5s ease;
    animation: scrollUp 0.4s;
  }
}

@media (min-width: 768px) {
  .modal__container {
    box-shadow: 0px 4px 64px rgba(18, 35, 35, 0.3);
    border-radius: 26px;
    width: 560px;
  }

  .modal__close-section {
    margin: 40px 0;
    height: 24px;
  }

  .modal__close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .modal-box__swipe {
    display: none;
  }

  .modal__body {
    padding: 0 40px 0px 40px;
  }
}

/* Modal review */

.modal-review__header {
  display: flex;
  gap: 16px;
  padding: 8px 16px 24px 16px;
}

.modal-review__avatar {
  display: block;
  width: 80px;
  height: 80px;
}

.modal-review__wrapper {
  text-align: left;
}

.modal-review__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 13.5px;
  color: var(--primary-default);
}

.modal-review__subtitle {
  color: var(--secondary-default);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.modal-review__text {
  padding: 0 0 24px;
  margin: 0;
  text-align: left;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .modal-review__header {
    padding: 40px 40px 24px 40px;
  }

  .modal__close-section--review {
    position: absolute;
    margin: auto;
    right: 0;
    top: 1px;
  }
}
