/* navigation */
.navigation {
  display: none;
  z-index: 10;
}

nav {
  width: 100%;
  height: 100px;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  margin-top: 5px;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #fff;
  padding: 0 10px;
  font-size: 1.1em;
  text-decoration: none;
  color: var(--primary-default) !important;
  font-weight: 400;
}

nav.large-screens {
  position: -webkit-sticky;
  position: sticky;
  transition: top 0.3s;
}

.nav-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.0625rem;
  background-color: var(--primary-default);
  border-radius: 26px;
  padding: 6px 24px;
}
.navigation-mobile {
  margin: 25px auto 27px;
}

.navigation__title {
  color: var(--primary-default);
  font-weight: 500;
  font-size: 2.125rem;
  letter-spacing: 0.04em;
  margin-top: 0;
  margin-bottom: 8px;
}

.navigation__subtitle {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--primary-light);
  letter-spacing: 0.04em;
  margin: 0 auto 27px;
}

@media (min-width: 745px) {
  .navigation-mobile {
    display: none;
  }

  .navigation {
    display: inline-block;
    margin-top: 48px;
    padding: 0 60px;
    background-color: white;
  }

  .navigation .flexbox {
    justify-content: space-between;
  }

  .navigation__flex-right {
    display: none;
  }

  .navigation__title,
  .navigation__subtitle {
    text-align: left;
  }

  .navigation__subtitle {
    margin-bottom: 0;
  }

  .navigation .line {
    margin: 17px 0;
  }
}

@media (min-width: 1024px) {
  .navigation__flex-right {
    display: inline-block;
  }

  .nav-desktop {
    display: none;
  }
}

@media (min-width: 1280px) {
  .nav-desktop {
    display: inline-block;
    margin-top: 5px;
  }
}

@media (min-width: 1400px) {
  .navigation > div {
    max-width: 1400px;
  }
}
