.otazky {
  padding: 56px 16px 0;
  margin-bottom: 56px;
}

.otazky h3 {
  padding-left: 10px;
  font-size: 1.0625rem;
  line-height: 147%;
  margin: 0;
  font-weight: 500;
}
.otazky__accordion-item {
  cursor: pointer;
  box-shadow: var(--primary-ultralight) 0 4px 8px;
  border-radius: 16px;
  background: white;
  text-align: left;
  padding: 15px 20px;
  margin: 16px 0;
}

.otazky__accordion-content {
  display: none;
  padding-top: 16px;
}

.otazky__accordion-item.active .otazky__accordion-content {
  display: block;
}

.otazky__flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.otazky__content-description {
  margin: 0;
}

.arrow {
  transition: all 0.3s ease;
}

.otazky__accordion-item.active .arrow {
  transform: rotateX(180deg);
}

@media (min-width: 500px) {
  .otazky {
    padding: 56px 60px 0;
  }
}

@media (min-width: 744px) {
  .otazky {
    padding: 96px 60px;
    margin: 0 auto;
  }

  .otazky__accordion-item {
    margin-bottom: 32px;
  }
}


@media (min-width: 1024px) {
  .otazky {
    max-width: 900px;
    box-sizing: content-box;
  }
}
