.otazky {
  padding: 56px 16px 0;
}

.otazky h3 {
  color: var(--primary-default);
  font-size: 1.0625rem;
}

@media (max-width: 360px) {
  .otazky h3 {
    font-size: 0.8rem;
  }
}
@media (min-width: 500px) {
  .otazky .wrapper {
    width: 70%;
    margin: 10px auto;
  }
}
