.pojdme-se-poznat {
  padding: 56px 0 0;
}
.pojdme-se-poznat h2.blue {
  color: var(--primary-default);
}
.pojdme-se-poznat h3.dark-blue {
  color: var(--secondary-default);
  text-align: left;
  margin-top: 40px;
}

.poznej-mne-vic-button {
  border-radius: 26px;
  margin-top: 24px;
  background: var(--secondary-default);
}

.pojdme-se-poznat__text-container {
  margin: 40px 24px auto;
}

.pojdme-se-poznat .mobile-h2 {
  padding: 0 16px;
}

.pojdme-se-poznat p {
  text-align: left;
  font-size: 1.0625rem;
  line-height: 176%;
}
.pojdme-se-poznat .fade-out-text.closed {
  background: linear-gradient(90deg, #212529, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pojdme-se-poznat .rollout-text {
  display: none;
}

.pojdme-se-poznat a {
  text-decoration: none;
  color: var(--primary-default);
}

@media (min-width: 500px) {
  .poznej-mne-vic-button {
    display: none;
  }

  .pojdme-se-poznat img {
    width: 70%;
  }

  .pojdme-se-poznat__tablet-background {
    background: linear-gradient(240.56deg, #ffffff 27.15%, #e1f8f8 100.7%);
    border-radius: 56px;
  }

  .pojdme-se-poznat__image-container,
  .pojdme-se-poznat__text-container {
    transform: none !important;
  }

  .pojdme-se-poznat .fade-out-text.closed {
    background: none;
    -webkit-text-fill-color: black;
  }

  .pojdme-se-poznat .rollout-text.bigger-screen {
    display: inline;
  }

  .pojdme-se-poznat__text-container {
    padding: 16px 0;
  }
}

@media (min-width: 1024px) {
  .pojdme-se-poznat h3 {
    margin-top: 0 !important;
  }
  .pojdme-se-poznat__text-container {
    margin-top: 0;
    flex-basis: 100%;
  }
  .pojdme-se-poznat__image-container {
    flex-basis: 100%;
  }
  .pojdme-se-poznat img {
    transform: translateY(-10%);
  }
}
