.proc-zkusit-koucink {
  padding: 56px 16px 0;
  background: linear-gradient(180deg, #ffffff 0%, #e1f8f8 47.4%, #ffffff 100%);
}

.proc-zkusit-koucink .icon {
  margin-bottom: 8px;
}

.proc-zkusit-koucink h4 {
  margin-bottom: 16px;
}

.proc-zkusit-koucink .mobile-body {
  margin-bottom: 32px;
}

.proc-zkusit-koucink .flexbox {
  justify-content: space-between;
}
.proc-zkusit-koucink .flex-card {
  padding: 16px;
}

@media (min-width: 500px) {
  .proc-zkusit-koucink {
    background-image: none;
    padding: 56px 60px 0;
  }
}

@media (min-width: 1430px) {
  .proc-zkusit-koucink {
    max-width: 1430px;
    margin: 0 auto;
  }
}
