.session {
  padding: 56px 24px;
  background: linear-gradient(180deg, #ffffff 0%, #e1f8f8 92.19%, #ffffff 100%);
}

.session__container {
  margin: 0 auto;
}

.session__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: var(--secondary-default);
}

.session-wrapper {
  max-width: 480px;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .session {
    background: transparent;
    padding: 0 56px;
  }

  .session__container {
    padding: 96px 60px 0;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 56px;
  }

  .session__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 37px;
  }
}

@media (min-width: 1024px) {
  .session {
    background: transparent;
  }

  .session__container {
    max-width: 900px;
    padding: 112px 210px 0;
    box-sizing: border-box;
  }
}
