@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  text-align: center;
}

.hero-section {
  margin-top: 65px;
}
.hero-section h1 {
  font-weight: 500;
  font-size: 34px;
  line-height: 37px;
  color: #008080;
  letter-spacing: 0.04em;
  margin: 0 auto 0 auto;
}

.hero-section p {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #0db3b3;
  letter-spacing: 0.04em;
  margin: 8px auto 23px auto;
}
