@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary-default: #008080;
  --secondary-default: #264747;
  --primary-light: #0db3b3;
  --secondary-light: #547474;
  --primary-ultralight: #e1f8f8;
  --secondary-ultralight: #def0f0;
  --primary-verylight: #c0ebeb;
  --yellow-light: #fabd45;
  --primary-dark: #005656;
}
/***** defaults *****/
body {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 56px 16px 0;
}
/* font-colours */
.mobile-h2,
.mobile-h4,
.mobile-body,
.s-cim-mohu-pomoci__list,
.hero-button,
.jak-koucink-probiha__carousel-text,
.pojdme-se-poznat h3.dark-blue {
  color: var(--secondary-default);
}

.zustanme-v-kontaktu h2 {
  color: var(--primary-verylight);
}

h3,
.hero-section h1,
.jak-koucink-probiha__carousel-heading,
.pojdme-se-poznat h2.blue,
.otazky h3 {
  color: var(--primary-default);
}

.hero-section .hero-image-container p,
.zustanme-v-kontaktu,
.zustanme-v-kontaktu .mobile-body {
  color: var(--secondary-ultralight);
}

.zustanme-v-kontaktu,
.zustanme-v-kontaktu .mobile-body,
.slide {
  background: var(--primary-dark);
}

/* font styles */
h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.25rem;
}

h4,
button,
.s-cim-mohu-pomoci__list,
.mobile-body {
  font-size: 1.0625rem;
}

h4,
button {
  font-weight: 600;
}

.s-cim-mohu-pomoci__list,
.mobile-body {
  line-height: 176%;
}

/* buttons */

button {
  padding: 14px 61.5px;
  width: 327px;
  color: white;
  border: none;
  margin: 0 auto;
}

.blue-button,
.poznej-mne-vic-button {
  border-radius: 26px;
  margin-top: 24px;
}

.blue-button {
  background: linear-gradient(90deg, #00adad 0%, #008080 100%);
}

/* lines */

.line {
  background: var(--yellow-light);
  border: none;
  height: 1px;
  margin: 32px auto;
}

.zustanme-v-kontaktu .line {
  background: var(--primary-verylight);
}

/* carousel */
.flickity-button {
  display: none;
}

.slider-container {
  margin-bottom: 50px;
}
.cell {
  width: 222px;
  border-radius: 26px;
  text-align: left;
  padding: 48px 24px 0;
  min-height: 100%;
  margin: auto 10px;
}

.dot {
  background-color: var(--secondary-light);
}

.dot.is-selected {
  background-color: var(--yellow-light) !important;
}

/* sections */
.hero-section {
  padding: 65px 0 56px;
}

.hero-section h1 {
  font-weight: 500;
  font-size: 2.125rem;
  letter-spacing: 0.04em;
}

.hero-section .hero-image-container {
  background-image: url(./img/blue.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero-section h5 {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--primary-light);
  letter-spacing: 0.04em;
}

.hero-section .hero-image-container p {
  padding: 41px 45px 0;
  font-size: 1.0625rem;
  line-height: 176%;
  font-weight: 600;
}

.hero-section .hero-image-container h2 {
  margin: 36px auto 0;
  font-size: 1.625rem;
  font-weight: 700;
  color: white;
}

.hero-section .hero-image-container h4 {
  margin: 8px auto 0;
  font-size: 1.0625rem;
  font-weight: 600;
  color: var(--primary-ultralight);
}

.hero-section .hero-button {
  margin: 24px auto 31px;
  background: linear-gradient(90deg, #ffd480 0%, #fabd45 100%);
  border-radius: 26px;
}

.hero-section .hero-outro p {
  margin: 24px auto 0;
  padding: 0 24px;
}

.co-je-to-koucink {
  background-image: url(img/gradient-background.svg);
  margin: auto 0;
  padding: 0 24px;
  min-height: 730px;
}

.co-je-to-koucink h3 {
  margin: 16px auto 0;
  line-height: 125%;
}

.co-je-to-koucink .arrow-icon {
  margin: 16px 0;
}

.s-cim-mohu-pomoci button.dropdown-toggle {
  border: none;
  background: transparent;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  box-shadow: var(--primary-ultralight) 0px 4px 6px;
  margin: 0 auto;
  width: 80vw;
  border-radius: 16px;
}

.s-cim-mohu-pomoci button.dropdown-toggle img {
  margin-left: 24px;
}

.s-cim-mohu-pomoci button.dropdown-toggle::after {
  display: none !important;
}

.proc-zkusit-koucink {
  background-image: url(img/gradient-background.svg);
}

.proc-zkusit-koucink .icon {
  margin-bottom: 8px;
}

.proc-zkusit-koucink h4 {
  margin-bottom: 16px;
}

.proc-zkusit-koucink .mobile-body {
  margin-bottom: 32px;
}

.jak-koucink-probiha .cell {
  background-color: white;
  box-shadow: rgba(0, 128, 128, 0.1) 0 4px 16px;

  background-repeat: no-repeat;
}

.jak-koucink-probiha .slide:nth-child(1) {
  background-image: url(./icons/01.svg);
}
.jak-koucink-probiha .slide:nth-child(2) {
  background-image: url(./icons/02.svg);
}
.jak-koucink-probiha .slide:nth-child(3) {
  background-image: url(./icons/03.svg);
}
.jak-koucink-probiha .slide:nth-child(4) {
  background-image: url(./icons/04.svg);
}

.jak-koucink-probiha__carousel-heading {
  padding-right: 50%;
}

.pojdme-se-poznat {
  padding: 56px 0;
}

.pojdme-se-poznat__text-container {
  margin: 40px 24px auto;
}

.pojdme-se-poznat h3.dark-blue {
  text-align: left;
  margin-top: 40px;
}

.pojdme-se-poznat p {
  text-align: left;
  font-size: 1.0625rem;
  line-height: 176%;
}

.pojdme-se-poznat .faded {
  /* background: linear-gradient(#000 20%, transparent 80%);
  -webkit-background-clip: text; */
}

.pojdme-se-poznat .poznej-mne-vic-button {
  background: var(--secondary-default);
}

.zkusenosti .slider-container {
  display: flex;
  overflow-x: scroll;
}
.zkusenosti .slide {
  background-color: var(--primary-dark);
  color: white;
  padding: 1rem;
  text-align: left;
  margin: 0 10px;
  min-width: 222px;
  border-radius: 26px;
}

.zkusenosti .slider-container::-webkit-scrollbar {
  display: none;
}
.zkusenosti__carousel-heading {
  color: white;
  margin-top: 16px;
  font-weight: 700;
  line-height: 125%;
  font-size: 1.25rem;
}

.zkusenosti__carousel-review {
  font-size: 0.9375rem;
  line-height: 133%;
  font-weight: 400;
}

.zkusenosti .pagination {
  display: flex;
  justify-content: center;
  margin: 2em 0;
  gap: 1em;
}

.zkusenosti .pagination span {
  background-color: var(--secondary-light);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.zkusenosti .pagination .active {
  background-color: var(--yellow-light);
}

.zustanme-v-kontaktu {
  padding: 40px 24px;
}

.otazky button.dropdown-toggle {
  border: none;
  background: transparent;
  display: flex;
  align-items: baseline;
  justify-content: center;
  box-shadow: var(--primary-ultralight) 0px 4px 6px;
  margin: 0 auto;
  width: 80vw;
  border-radius: 16px;
}

.otazky h3 {
  font-size: 1.0625rem;
}

.otazky button.dropdown-toggle img {
  margin-left: 24px;
}

.uvodni-setkani {
  background-image: url(./img/gradient-background.svg);
}

.uvodni-setkani input {
  border-radius: 16px;
  border: 1px solid #98b4b4;
  width: 100%;
  height: 58px;
  margin-bottom: 24px;
  padding-left: 16px;
  color: #98b4b4;
}

.uvodni-setkani .comment-section {
  height: 162px;
}
.uvodni-setkani .comment ::placeholder {
  position: absolute;
  top: 10px;
}

.zustanme-v-kontaktu {
  margin: auto 0;
}

@media (max-width: 350px) {
  .hero-button,
  .poznej-mne-vic-button,
  .blue-button {
    max-width: 250px;
    font-size: 0.7rem;
  }
}

@media (max-width: 360px) {
  .mobile-body {
    font-size: 1rem;
  }
  .hero-section h1 {
    font-size: 1.8rem;
  }
  .hero-section .hero-image-container p {
    font-size: 1rem;
    padding: 41px 10px 0;
  }
}

@media (min-width: 700px) {
  .hero-section {
    text-align: left;
    margin-left: 30px;
    overflow: hidden;
  }
  .hero-section .hero-image-container {
    display: flex;
    background-image: url(./img/blue-tablet.svg);
  }

  .hero-section .flex-item-left {
    min-width: 50%;
  }
  .hero-image-container img {
    /* float: right; */
    transform: translate(50%);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  border-radius: 16px;
  box-shadow: var(--primary-ultralight) 0px 4px 6px;
  text-align: left;
}

.collapsible {
  max-width: 450px;
  overflow: hidden;
  font-weight: 500;
}
.s-cim-mohu-pomoci__dropdown-header {
  padding: 25px 20px;
}

.s-cim-mohu-pomoci__dropdown-header h3 {
  padding-left: 10px;
  margin-top: 5px;
  text-align: left;
}
.collapsible .flexbox {
  display: flex;
}
.collapsible input {
  display: none;
}

.collapsible label {
  position: relative;
  font-weight: 600;
  display: block;
  cursor: pointer;
}

.collapsible label:after {
  content: "";
  position: absolute;
  right: 18px;
  top: 40px;
  width: 18px;
  height: 18px;
  background: url(./icons/down.svg) no-repeat 0 0;
  transition: all 0.3s ease;
}

.collapsible input:checked + label::after {
  transform: rotateX(180deg);
  top: 35px;
}

.collapsible-text {
  max-height: 1px;
  transition: all 0.3s ease;
}

.collapsible input:checked ~ .collapsible-text {
  max-height: 300px;
}
