@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary-default: #008080;
  --secondary-default: #264747;
  --primary-light: #0db3b3;
  --secondary-light: #547474;
  --primary-ultralight: #e1f8f8;
  --secondary-ultralight: #def0f0;
  --primary-verylight: #c0ebeb;
  --yellow-light: #fabd45;
  --primary-dark: #005656;
}
/***** defaults *****/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}
body {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.zkusenosti {
  padding: 56px 16px 0;
}
/* font-colours */
.mobile-h2,
.mobile-h4,
.mobile-body {
  color: var(--secondary-default);
}

h3 {
  color: var(--primary-default);
}

/* font styles */
h2,
h3 {
  font-weight: 700;
}

.mobile-h2 {
  font-size: 1.625rem;
  padding: 0 16px;
}

h3 {
  font-size: 1.25rem;
}

.mobile-h4,
button,
.mobile-body {
  font-size: 1.0625rem;
}

.mobile-h4,
button {
  font-weight: 600;
}

.mobile-body {
  line-height: 176%;
  font-weight: 400;
}

/* buttons */

button {
  padding: 14px 0;
  color: white;
  border: none;
  width: 90vw;
}

.blue-button {
  border-radius: 26px;
  margin-top: 24px;
  background: linear-gradient(90deg, #00adad 0%, #008080 100%);
}

/* lines */

.line {
  background: var(--yellow-light);
  border: none;
  height: 1px;
  margin: 32px auto;
}

/* carousel */
.item {
  padding: 1rem;
  text-align: left;
  border-radius: 26px;
  cursor: pointer;
}

.owl-stage {
  display: flex;
  padding-left: 0 !important;
}

.owl-item {
  display: flex;
}

.owl-dots button > span {
  background-color: var(--secondary-light);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: block;
}

.owl-dots button.active > span {
  background-color: var(--yellow-light);
}

.owl-dots {
  display: flex !important;
  justify-content: center;
  margin: 2em 0;
  gap: 1em;
}

.owl-dots button {
  width: auto;
}

/* sections */

.zkusenosti .item {
  background-color: var(--primary-dark);
  color: white;
}

.zkusenosti .owl-carousel .owl-item img {
  width: 80px !important;
}
.zkusenosti .item__carousel-heading {
  color: white;
  margin-top: 16px;
  font-weight: 700;
  line-height: 125%;
  font-size: 1.25rem;
}

.zkusenosti .item__carousel-review {
  font-size: 0.9375rem;
  line-height: 133%;
  font-weight: 400;
}

.outro {
  padding: 24px;
}
@media (max-width: 360px) {
  .mobile-body {
    font-size: 1rem;
  }
}

@media (min-width: 500px) {
  .blue-button {
    max-width: 320px;
  }

  section.background {
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      #e1f8f8 47.4%,
      #ffffff 100%
    );
  }
}

@media (min-width: 800px) {
  .flexbox {
    display: flex;
  }

  .flex-card {
    flex-basis: 100%;
  }
}
