.zustanme-v-kontaktu {
  padding: 40px 24px;
  background: var(--primary-dark);
}

.zustanme-v-kontaktu,
.zustanme-v-kontaktu .mobile-body {
  color: var(--secondary-ultralight);
}
.zustanme-v-kontaktu h2 {
  color: var(--primary-verylight);
}

.zustanme-v-kontaktu .line {
  background: var(--primary-verylight);
}

.zustanme-v-kontaktu__links-container img {
  padding-right: 16px;
  width: 33px;
}

.zustanme-v-kontaktu__links-container a,
.credits a {
  color: var(--secondary-ultralight);
  text-decoration: none;
}

.zustanme-v-kontaktu__links-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zustanme-v-kontaktu__linkedin,
.zustanme-v-kontaktu__instagram {
  margin-top: 24px;
}

.credits {
  line-height: 176%;
}
@media (min-width: 600px) {
  .zustanme-v-kontaktu {
    padding: 40px 125px;
  }
}
